In [1]:
import pandas as pd
LaLiga=pd.read_csv('Laliga.csv',header=1)#importing dataset into DataFrame and ignoring first row.

# Getting layout of the dataset

In [2]:
LaLiga.shape

(61, 20)

In [3]:
LaLiga.head(n=10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1

In [4]:
LaLiga.dtypes

Pos               int64
Team             object
Seasons           int64
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition      int64
dtype: object

In [5]:
LaLiga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           61 non-null object
GamesPlayed      61 non-null object
GamesWon         61 non-null object
GamesDrawn       61 non-null object
GamesLost        61 non-null object
GoalsFor         61 non-null object
GoalsAgainst     61 non-null object
Champion         61 non-null object
Runner-up        61 non-null object
Third            61 non-null object
Fourth           61 non-null object
Fifth            61 non-null object
Sixth            61 non-null object
T                61 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
dtypes: int64(3), object(17)
memory usage: 9.7+ KB

In [6]:
LaLiga.describe()

             Pos    Seasons  BestPosition
count  61.000000  61.000000     61.000000
mean   31.000000  24.000000      7.081967
std    17.752934  26.827225      5.276663
min     1.000000   1.000000      1.000000
25%    16.000000   4.000000      3.000000
50%    31.000000  12.000000      6.000000
75%    46.000000  38.000000     10.000000
max    61.000000  86.000000     20.000000

## 1. Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.

In [7]:
LaLiga.replace(to_replace='-',value='0',inplace=True) #making permanent changes in the Dataset for easy handling.
LaLiga

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

## 2. Print all the teams which have started playing between 1930-1980. Use “Debut” column.

In [8]:
Debutyear=LaLiga[LaLiga.Debut.astype(str).str[:4].astype(int).between(1930,1980,inclusive=True)]
Debutyear[['Team','Debut']].sort_values(by='Debut')
#first convrt to str->access first 4 digits->convert that to int->apply condition->save it in new DataFrame

                   Team    Debut
28               Alaves  1930-31
3              Valencia  1931-32
9            Real Betis  1932-33
17               Oviedo  1933-34
5               Sevilla  1934-35
25             Hercules  1935-36
15              Osasuna  1935-36
8              Zaragoza  1939-40
11           Celta Vigo  1939-40
27               Murcia  1940-41
21              Granada  1941-42
10  Deportivo La Coruna  1941-42
34            Castellon  1941-42
31             Sabadell  1943-44
14       Sporting Gijon  1944-45
49             Alcoyano  1945-46
46            Gimnastic  1947-48
12           Valladolid  1948-49
16               Malaga  1949-50
54               Lleida  1950-51
19           Las Palmas  1951-52
58      Atletico Tetuan  1951-52
50                 Jaen  1953-54
59     Cultural Leonesa  1955-56
57               Condal  1956-57
23                Elche  1959-60
18             Mallorca  1960-61
26             Tenerife  1961-62
37              Cordoba  1962-63
29              Levante  1963-64
41           Pontevedra  1963-64
40            Burgos CF  1971-72
30            Salamanca  1974-75
22       Rayo Vallecano  1977-78
32                Cadiz  1977-78
39           Recreativo  1978-79
52           AD Almeria  1979-80

## 3. Print the list of teams which came Top 5 in terms of points.

In [9]:
LaLiga[['Team','Points']].head(n=5).sort_values(by='Points',ascending=False)

              Team Points
0      Real Madrid   4385
1        Barcelona   4262
2  Atletico Madrid   3442
3         Valencia   3386
4  Athletic Bilbao   3368

## 4. Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference

In [10]:
gd_df=LaLiga.loc[:, ('Team','GoalsFor','GoalsAgainst')]#Creating seperate Dataframe.

#defining function
def Goal_diff_count():
    gd_df['Goal_diff_count']=pd.to_numeric(gd_df.GoalsFor)-pd.to_numeric(gd_df.GoalsAgainst)
    return gd_df['Goal_diff_count'].max(),gd_df['Goal_diff_count'].min()

maxi,mini=Goal_diff_count()#calling function

print(gd_df[['Team','Goal_diff_count']])
print("MAXIMUM GOAL DIFFERENCE::",maxi)
print("MINIMUM GOAL DIFFERENCE::",mini)

                Team  Goal_diff_count
0        Real Madrid             2807
1          Barcelona             2786
2    Atletico Madrid             1225
3           Valencia              929
4    Athletic Bilbao              931
..               ...              ...
56             Xerez              -28
57            Condal              -20
58   Atletico Tetuan              -34
59  Cultural Leonesa              -31
60            Girona                0

[61 rows x 2 columns]
MAXIMUM GOAL DIFFERENCE:: 2807
MINIMUM GOAL DIFFERENCE:: -525

## 5. Create a new column with the name “Winning Percent” and append it to the data set

In [11]:
LaLiga['Winning Percent']=(pd.to_numeric(LaLiga.GamesWon)/pd.to_numeric(LaLiga.GamesPlayed))*100 #converting for working with computational tools
LaLiga[['Team','Winning Percent']].head(n=5).sort_values(by='Winning Percent',ascending=False)

              Team  Winning Percent
0      Real Madrid        59.630702
1        Barcelona        57.241130
2  Atletico Madrid        47.475134
3         Valencia        44.557057
4  Athletic Bilbao        43.772629

## 6. Group teams based on their “Best position” and print the sum of their points for all positions

In [12]:
LaLiga['Points']=pd.to_numeric(LaLiga.Points) #converting for working with computational tools
LaLiga[['BestPosition','Points']].groupby('BestPosition').sum()

              Points
BestPosition
1              27933
2               6904
3               5221
4               6563
5               1884
6               2113
7               1186
8               1134
9                 96
10               450
11               445
12               511
14                71
15                14
16                81
17               266
19                81
20                34